body.mont {
  font-family: 'Ubuntu', sans-serif;
    background-color: rgb(255, 255, 255);
  }
  
  /* Fixed-top navigation bar */
.header {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.header a:hover {
  background: #ddd;
  color: black;
}
  /* hover effect */
  i.pointer:hover {
    opacity: 0.7;
  }
  
